<div class='columns'>
	<div class='column is-half'>
		<%= form_for @task do |f| %>
				<div class='field'>
					<label class='label'>Task</label>
					<p class='control'>
						<%= f.text_field :content, class: 'input', placeholder: 'Task' %>
					</p>
				</div>

	<div class='field'>
		<label class='label'>Description</label>
		<p class='control'>
			<%= f.text_area :description, class: 'textarea', placeholder: 'Description' %>
		</p>
	</div>

	<%= f.label :priority %>:
	<%= f.number_field :priority %>
		
		<br>
		<br>

	<%= f.button :submit, class: 'button is-primary' do %>
		Create
	<% end %>

<% end %>
	</div>
</div>
