<div class="field is-grouped is-pulled-right">
  <p class="control">
		<%= link_to "Active", "#", class: "button is-info is-focused is-small" %>
	</p>
	<p class='control'>
		<%= link_to "Archived", "#", class: "button is-danger is-focused is-small" %>
	</p>
</div>

<br>
<br>

<% @tasks.each do |task| %>
	<div class='box'>
		<article class='media'>
			<div class='media-content'>
				<div class='content'>
					<p>
						<strong><%= task.content %></strong> <small>Priority: <%= task.priority %></small>
						<br>
						<%= task.description %>
					</p>
				</div>
				<nav class='level is-mobile'>
					<div class='level-left'>
						<a class='level-item'>
							<%= link_to "<i class='fa fa-pencil-square-o'></i>".html_safe, edit_task_path(task) %>
						</a>
						<a class='level-item'>
							<%= link_to "<i class='fa fa-trash'></i>".html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
						</a>
					</div>
				</nav>
			</div>
		</article>
	</div>
<% end %>